:root {
  --background-color: rgb(5, 10, 24);
  --border-color: rgb(255, 255, 255, 0.1);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav > .nav-section {
  padding: 1.5rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-logo-section {
  flex-basis: calc(100% / 3);
  justify-content: flex-start;
}

#nav-logo-section > a > img {
  width: 125%;
}

#nav-link-section {
  flex-basis: calc(100% / 3);
  gap: 6rem;
}

#nav-social-section {
  gap: 3rem;
}

#nav-social-section > a > img {
  width: 75%;
}

main {
  flex-grow: 1;
  position: relative;
}

main > article {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: transform 400ms ease;
}

main > article[data-status="inactive"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="active"] {
  transform: translateX(0%);
}

main > article[data-status="before"] {
  transform: translateX(-100%);
}

main > article[data-status="after"] {
  transform: translateX(100%);
}

main > article[data-status="becoming-active-from-before"] {
  transform: translateX(-100%);
  transition: none;
}

main > article[data-status="becoming-active-from-after"] {
  transform: translateX(100%);
  transition: none;
}

main > article > .article-section {
  height: 100%;
  display: flex;
}

main > article > .article-info-section {
  height: 87vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
}  

main > article:first-child > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}  

main > article:nth-child(2) > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
}  

main > article:nth-child(3) > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}  

main > article:nth-child(4) > .article-image-section {
  background-image: url("https://images.unsplash.com/photo-1544965850-6f8a66788f9b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1207&q=80");
}  

main > article > .article-image-section {
  background-position: center;
  background-size: cover;
  height: 87vh;
}

main > article > .article-info-section > .article-title-section {
  padding: 1rem 3rem 1.5rem;
  color: white;
  grid-row: span 3;
  display: flex;
  align-items: center;
}

main > article > .article-info-section > .article-title-section > h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.25rem;
  line-height: 2.25rem;
  margin: 0px;
  text-transform: uppercase;
}

main > article > .article-info-section > .article-description-section {
  padding: 2rem 3rem;
  grid-row: span 5;
  display: flex;
  align-items: flex-start;
}  

main > article > .article-info-section > .article-description-section > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  line-height: 1.5em;
}  

main > article > .article-info-section > .article-nav-section {
  border-top: 1px solid var(--border-color);
  grid-row: span 2;
  display: flex;
}

main > article > .article-info-section > .article-nav-section > .article-nav-button {
  background-color: transparent;
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
}

main > article > .article-info-section > .article-nav-section > .article-nav-button:hover {
  background-color: rgba(255, 255, 255, 0.02);
}

main > article > .article-info-section > .article-nav-section > .article-nav-button:nth-child(2) {
  border-left: 1px solid var(--border-color);
}